services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: test_usr
      POSTGRES_PASSWORD: test_pass
      POSTGRES_DB: test_db
    ports:
      - "1234:5432"

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - "3000:3000"
    depends_on:
      - db
